.social-auth {
  text-align: center;
  margin-top: 2em;
}

.divider {
  margin: 2em auto;
  width: 60%;
  border: none;
  border-top: 1px solid var(--ugletelecom-grey);
}

.social-auth-title {
  color: var(--ugletelecom-grey);
  font-size: 1em;
  margin-bottom: 1em;
}

.social-auth-icons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.yandex-btn { 
  cursor: pointer;
}

.yandex-btn img {
  width: 48px;
  height: 48px;
}
