:root {
  --ugletelecom-bg: #ffffff;
  --ugletelecom-blue: #183375;
  --ugletelecom-grey: #E2F1F1;
  --ugletelecom-light-green: #80c41c;
  --ugletelecom-green: #2e8b57;
  --ugletelecom-white: #ffffff;
  --ugletelecom-black: #424242;
}

html {
  /* overflow: hidden; */
  font-size: 100%;
  --mode: none;
}

body {
  margin: 0;
  background: var(--ugletelecom-black);
  font-family: "PT Sans", Roboto, "Segoe UI", sans-serif;
  line-height: 1.5;
  color: var(--ugletelecom-black);
}

.centrify-reg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.form-registration {
  background: var(--ugletelecom-black);
  padding: 3em;
  width: 90%;
  max-width: 32em;
  border-radius: 0.2em;
  line-height: 1.5;
}

.form-registration h2 {
  text-align: center;
  margin-bottom: 2em;
  color: var(--ugletelecom-grey);
}

.form-registration button {
  width: 100%;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2em;
  background: var(--ugletelecom-green);
  color: var(--ugletelecom-bg);
  font-size: 1em;
  cursor: pointer;
  margin-top: 2em;
}

.form-registration button:hover {
  background: var(--ugletelecom-light-green);
}

.login-link {
  text-align: center;
  color: var(--ugletelecom-grey);
  font-size: 1em;
  margin-top: 1.5em;
}

.login-link a {
  color: var(--ugletelecom-light-green);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

.terms {
  font-size: 0.9em;
  color: var(--ugletelecom-grey);
  margin-top: 1rem;
}

.terms input {
  margin-right: 0.5em;
}

.terms a {
  color: var(--ugletelecom-light-green);
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

.form-registration button {
  width: 100%;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.2em;
  background: var(--ugletelecom-green);
  color: var(--ugletelecom-bg);
  font-size: 1em;
  cursor: pointer;
}

.form-registration button:hover {
  background: var(--ugletelecom-light-green);
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 1em;
  box-sizing: content-box;
  color: rgb(66, 66, 66);
  padding: 25px 25px;
  --mode: invert(.9) hue-rotate(180deg);
  text-align: left;
}

.logo-header img {
  height: 30px;
  width: auto;
}
.login-link {
  text-align: center;
  color: var(--ugletelecom-grey);
  font-size: 1em;
  margin-bottom: 0.3;
}
.login-link a {
  color: var(--ugletelecom-light-green);
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@keyframes pulse-error {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 77, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0);
  }
}

.error-message {
  color: #ff4d4f;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}