:root {
  --ugletelecom-bg: #ffffff;
  --ugletelecom-blue: #183375;
  --ugletelecom-grey: #E2F1F1;
  --ugletelecom-light-green: #80c41c;
  --ugletelecom-green: #2e8b57;
  --ugletelecom-white: #ffffff;
  --ugletelecom-black: #424242;
}


